In [17]:
import pandas as pd
import altair as alt
import persist_ext as PR # Load the extension

av_ut = pd.read_csv("avalanches_ut.csv") # load the csv
av_ut.head()

,;Region,;Trigger,;Weak Layer,;Aspect,Depth_inches,Elevation_feet,Day,Month,Year,Coordinates,Comments 1
0,Salt Lake,Snowboarder,New Snow/Old Snow Interface,North,14,10400.0,9,11,2012,"40.577977000000, -111.595817000000",While it was a small avalanche that was I caug...
1,Salt Lake,Skier,New Snow/Old Snow Interface,North,30,9700.0,11,11,2012,"40.592619000000, -111.616099000000",A North facing aspect with an exposed ridge in...
2,Salt Lake,Skier,Facets,North,36,10200.0,11,11,2012,"40.599291000000, -111.642315000000",Remotely triggered all the new storm snow (abo...
3,Salt Lake,Skier,New Snow,Southeast,18,10200.0,11,11,2012,"40.598313000000, -111.628304000000",Impressive fast powder cloud ran in front of t...
4,Salt Lake,Skier,Facets,North,42,10400.0,11,11,2012,"40.578590000000, -111.595087000000",Three of us toured from Brighton to low saddle...

In [16]:
# Remove leading `;` from column names
av_ut1 = av_ut.rename(
    columns={col: col.replace(";", "") for col in av_ut.columns}
)

# Drop two columns
av_ut1 = av_ut1.drop(columns=["Coordinates", "Comments 1"])

# Replace trailing `"` from Depth_inches
av_ut1["Depth_inches"] = av_ut1["Depth_inches"].apply(lambda x: x.replace('"', ''))
# Cast Depth_inches to float
av_ut1["Depth_inches"] = av_ut1["Depth_inches"].astype(float)

av_ut1.head()

,Region,Trigger,Weak Layer,Aspect,Depth_inches,Elevation_feet,Day,Month,Year
0,Salt Lake,Snowboarder,New Snow/Old Snow Interface,North,14.0,10400.0,9,11,2012
1,Salt Lake,Skier,New Snow/Old Snow Interface,North,30.0,9700.0,11,11,2012
2,Salt Lake,Skier,Facets,North,36.0,10200.0,11,11,2012
3,Salt Lake,Skier,New Snow,Southeast,18.0,10200.0,11,11,2012
4,Salt Lake,Skier,Facets,North,42.0,10400.0,11,11,2012

In [4]:
PR.PersistTable(av_ut, df_name="av_ut1")

PersistWidget(data_values=[{'__id_column': '1', ';Region': 'Salt Lake', ';Trigger': 'Snowboarder', ';Weak Laye…

In [21]:
av_ut1.head()

,Region,Trigger,Weak Layer,Aspect,Depth_inches,Elevation_feet,Day,Month,Year
0,Salt Lake,Snowboarder,New Snow/Old Snow Interface,North,14.0,10400.0,9,11,2012
1,Salt Lake,Skier,New Snow/Old Snow Interface,North,30.0,9700.0,11,11,2012
2,Salt Lake,Skier,Facets,North,36.0,10200.0,11,11,2012
3,Salt Lake,Skier,New Snow,Southeast,18.0,10200.0,11,11,2012
4,Salt Lake,Skier,Facets,North,42.0,10400.0,11,11,2012

In [22]:
av_ut1.dtypes

Region            string[python]
Trigger           string[python]
Weak Layer        string[python]
Aspect            string[python]
Depth_inches             Float64
Elevation_feet           Float64
Day                        Int64
Month                      Int64
Year                       Int64
dtype: object

In [25]:
av_ut2 = av_ut1[av_ut1["Elevation_feet"].between(4000, 15000)]

av_ut2["Elevation_feet"].describe()

count         2372.0
mean     9507.293423
std      1104.926246
min           5100.0
25%           9000.0
50%           9700.0
75%          10200.0
max          12200.0
Name: Elevation_feet, dtype: Float64

In [23]:
PR.plot.scatterplot(av_ut1, x="Elevation_feet:Q", y="Depth_inches:Q", df_name="av_ut2")

PersistWidget(data_values=[{'__id_column': '1', 'Region': 'Salt Lake', 'Trigger': 'Snowboarder', 'Weak Layer':…

In [26]:
av_ut2.head()

,Region,Trigger,Weak Layer,Aspect,Depth_inches,Elevation_feet,Day,Month,Year
0,Salt Lake,Snowboarder,New Snow/Old Snow Interface,North,14,10400.0,9,11,2012
1,Salt Lake,Skier,New Snow/Old Snow Interface,North,30,9700.0,11,11,2012
2,Salt Lake,Skier,Facets,North,36,10200.0,11,11,2012
3,Salt Lake,Skier,New Snow,Southeast,18,10200.0,11,11,2012
4,Salt Lake,Skier,Facets,North,42,10400.0,11,11,2012

In [27]:
av_ut2["Elevation_feet"].describe()

count         2372.0
mean     9507.293423
std      1104.926246
min           5100.0
25%           9000.0
50%           9700.0
75%          10200.0
max          12200.0
Name: Elevation_feet, dtype: Float64

In [30]:
av_ut3 = av_ut2[av_ut2["Year"] >= 2010]

av_ut3["Year"].min()

2010

In [28]:
PR.plot.barchart(av_ut2, x="Year:O", y="count()", df_name="av_ut3", selection_type="interval")

PersistWidget(data_values=[{'__id_column': '1', 'Region': 'Salt Lake', 'Trigger': 'Snowboarder', 'Weak Layer':…

In [31]:
av_ut3.head()

,Region,Trigger,Weak Layer,Aspect,Depth_inches,Elevation_feet,Day,Month,Year
0,Salt Lake,Snowboarder,New Snow/Old Snow Interface,North,14,10400,9,11,2012
1,Salt Lake,Skier,New Snow/Old Snow Interface,North,30,9700,11,11,2012
2,Salt Lake,Skier,Facets,North,36,10200,11,11,2012
3,Salt Lake,Skier,New Snow,Southeast,18,10200,11,11,2012
4,Salt Lake,Skier,Facets,North,42,10400,11,11,2012

In [32]:
av_ut3["Year"].min()

2010

In [37]:
av_ut4 = av_ut3.copy()

# Create a new column and set all values as `End`
av_ut4["Av_Season"] = "End"

# Assign `Start` to records for months 10, 11, 12
av_ut4.loc[av_ut4["Month"] >= 10, "Av_Season"] = "Start"

# Assign `Start` to records for months 10, 11, 12
av_ut4.loc[av_ut4["Month"] <= 3, "Av_Season"] = "Middle"

av_ut4["Av_Season"].value_counts()

Av_Season
Middle    1581
Start      522
End        222
Name: count, dtype: int64

In [33]:
selection = alt.selection_interval(name="selection", encodings=["x"])

chart = alt.Chart(av_ut3).mark_bar().encode(
    x=alt.X("Month:O").sort([10]),
    y="count()",
    opacity=alt.condition(selection, alt.value(1), alt.value(0.2)),
).add_params(
    selection
).properties(
    width=500
)

PR.PersistChart(chart, df_name="av_ut4")

PersistWidget(data_values=[{'__id_column': '1', 'Region': 'Salt Lake', 'Trigger': 'Snowboarder', 'Weak Layer':…

In [34]:
av_ut4.head()

,Av_Season,Region,Trigger,Weak Layer,Aspect,Depth_inches,Elevation_feet,Day,Month,Year
0,Start,Salt Lake,Snowboarder,New Snow/Old Snow Interface,North,14,10400,9,11,2012
1,Start,Salt Lake,Skier,New Snow/Old Snow Interface,North,30,9700,11,11,2012
2,Start,Salt Lake,Skier,Facets,North,36,10200,11,11,2012
3,Start,Salt Lake,Skier,New Snow,Southeast,18,10200,11,11,2012
4,Start,Salt Lake,Skier,Facets,North,42,10400,11,11,2012

In [35]:
av_ut4["Av_Season"].value_counts()

Av_Season
Middle           1581
Start             522
End               222
No Assignment       0
Name: count, dtype: int64