In [1]:
from vega_datasets import data
import persist_ext as PR

In [2]:
cars = data.cars()
cars.head()

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA

In [3]:
df = PR.data.prepare(cars)
df.head()

,index,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,1,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,2,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,3,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,4,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,5,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA

In [ ]:
w = PR.vis.scatterplot(df, x="Miles_per_Gallon:Q", y="Weight_in_lbs:Q", param="A")
w

In [5]:
PR.Out().clear_logs()

In [6]:
PR.Out().show_logs()

Output(layout=Layout(border_bottom='1px solid black', border_left='1px solid black', border_right='1px solid bâ€¦

In [7]:
import altair as alt
s = alt.selection_interval(name="test")

In [8]:
c =  alt.Chart(None).mark_point().add_params(s)
c

/Users/kiran/Library/Application Support/hatch/env/virtual/persist-ext/k5E4fmUW/persist-ext/lib/python3.8/site-packages/altair/vegalite/v5/api.py:122: UserWarning: data of type <class 'NoneType'> not recognized
  warnings.warn("data of type {} not recognized".format(type(data)), stacklevel=1)

alt.Chart(...)

In [9]:
import json
json.loads(c.params[0].to_json())

{'name': 'test', 'select': {'type': 'interval'}}