In [1]:
from vega_datasets import data
import persist_ext as PR
import altair as alt

In [2]:
cars = data.cars()
df = PR.data.prepare(cars)
df.head()

,index,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,1,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,2,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,3,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,4,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,5,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA

In [3]:
# w = PR.vis.scatterplot(df, x="Miles_per_Gallon:Q", y="Weight_in_lbs")
# # w = PR.vis.barchart(df, x="Origin", y="mean(Miles_per_Gallon)")
# w
w = PR.vis.interactive_table(df)
w

TrrackableOutputWidget(body_widget=InteractiveTableWidget(df_columns_all=['index', 'Name', 'Miles_per_Gallon',…

In [4]:
PR.Out().clear_logs()
PR.Out().show_logs()

Output(layout=Layout(border_bottom='1px solid black', border_left='1px solid black', border_right='1px solid b…

In [5]:
# # import altair with an abbreviated alias
# import altair as alt

# # load a sample dataset as a pandas DataFrame
# from vega_datasets import data
# cars = data.cars()
# cars2 = cars.query("10.75 <= Miles_per_Gallon <= 23.5 and 2972.5781250000005 <= Weight_in_lbs <= 4388.828125")
# # make the chart
# a = alt.Chart(cars2).mark_point().encode(
#     x='Horsepower:Q',
#     y='Miles_per_Gallon:Q',
#     color='Origin:N',
# )

# cars2

In [6]:
# cars_sub = cars.sample(n = 100)

# c = cars_sub.reset_index(drop=True)
# c

In [7]:
# w.body_widget.data = cars

In [8]:
cars["a"] = None
cars["a"] += "Hello"
cars

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin,a
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA,NaN
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA,NaN
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA,NaN
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA,NaN
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA,NaN
...,...,...,...,...,...,...,...,...,...,...
401,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,1982-01-01,USA,NaN
402,vw pickup,44.0,4,97.0,52.0,2130,24.6,1982-01-01,Europe,NaN
403,dodge rampage,32.0,4,135.0,84.0,2295,11.6,1982-01-01,USA,NaN
404,ford ranger,28.0,4,120.0,79.0,2625,18.6,1982-01-01,USA,NaN
405,chevy s-10,31.0,4,119.0,82.0,2720,19.4,1982-01-01,USA,NaN

In [9]:
import pandas as pd

s = pd.Series([1, 2, 3, 4])
{v: False for k,v in s.to_dict().items()}

{1: False, 2: False, 3: False, 4: False}

In [10]:
import numpy as np
a = np.full(10, False)

In [11]:
b = {(i+1): v for i,v in enumerate(a.tolist())}

In [12]:
import json
json.dumps(b)

'{"1": false, "2": false, "3": false, "4": false, "5": false, "6": false, "7": false, "8": false, "9": false, "10": false}'

In [13]:
cars.sort_values("Name")

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin,a
103,amc ambassador brougham,13.0,8,360.0,175.0,3821,11.0,1973-01-01,USA,NaN
9,amc ambassador dpl,15.0,8,390.0,190.0,3850,8.5,1970-01-01,USA,NaN
73,amc ambassador sst,17.0,8,304.0,150.0,3672,11.5,1972-01-01,USA,NaN
264,amc concord,19.4,6,232.0,90.0,3210,17.2,1978-01-01,USA,NaN
322,amc concord,24.3,4,151.0,90.0,3003,20.1,1980-01-01,USA,NaN
...,...,...,...,...,...,...,...,...,...,...
402,vw pickup,44.0,4,97.0,52.0,2130,24.6,1982-01-01,Europe,NaN
204,vw rabbit,29.0,4,90.0,70.0,1937,14.2,1976-01-01,Europe,NaN
316,vw rabbit,41.5,4,98.0,76.0,2144,14.7,1980-01-01,Europe,NaN
332,vw rabbit c (diesel),44.3,4,90.0,48.0,2085,21.7,1980-01-01,Europe,NaN
300,vw rabbit custom,31.9,4,89.0,71.0,1925,14.0,1979-01-01,Europe,NaN