In [1]:
from vega_datasets import data
import persist_ext as PR
import altair as alt

In [2]:
cars = data.cars()
df = PR.data.prepare(cars)
df.head()

,index,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,1,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,2,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,3,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,4,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,5,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA

In [3]:
w = PR.vis.scatterplot(df, x="Miles_per_Gallon:Q", y="Weight_in_lbs:Q")
# # w = PR.vis.barchart(df, x="Origin", y="mean(Miles_per_Gallon)")
# w
# w = PR.vis.interactive_table(df)A
w

TrrackableOutputWidget(body_widget=VegaLiteChartWidget(debounce_wait=200.0, df_columns=['Name', 'Miles_per_Gal…

In [4]:
PR.vis.interactive_table(df)

TrrackableOutputWidget(body_widget=InteractiveTableWidget(df_columns_all=['index', 'Name', 'Miles_per_Gallon',…